<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.tyrion.plugin.picker" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>ImagePicker</name>
	<js-module name="ImagePicker" src="www/ImagePicker.js">
		<clobbers target="cordova.plugins.ImagePicker" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="ImagePicker">
				<param name="android-package" value="com.tyrion.plugin.picker.ImagePicker" />
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
		    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
		    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
		    <uses-permission android:name="android.permission.CAMERA" />
		    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
        </config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
            android:name="com.tyrion.plugin.picker.ui.LocalAlbum"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        	<activity android:name="com.tyrion.plugin.picker.ui.LocalAlbumDetail" />
        </config-file>

        <!-- java文件 -->
		<source-file src="src/android/universal-image-loader-lib.jar" target-dir="libs"/>
		<source-file src="src/android/android-support-v4.jar" target-dir="libs"/>
		<source-file src="src/android/ImagePicker.java" target-dir="src/com/tyrion/plugin/picker" />
		<source-file src="src/android/MyApplication.java" target-dir="src/com/tyrion/plugin/picker" />
		<source-file src="src/android/AppManager.java" target-dir="src/com/tyrion/plugin/picker" />
		<source-file src="src/android/common" target-dir="src/com/tyrion/plugin/picker" />
		<source-file src="src/android/compress" target-dir="src/com/tyrion/plugin/picker" />
		<source-file src="src/android/ui" target-dir="src/com/tyrion/plugin/picker" />
		<source-file src="src/android/widget" target-dir="src/com/tyrion/plugin/picker" />

		<!-- 资源文件 -->
		<source-file src="src/android/res/anim" target-dir="res" />
		<source-file src="src/android/res/drawable/picture_setting_album_checkbox.xml" target-dir="res/drawable" />
		<source-file src="src/android/res/drawable/white_gray_bg_selector.xml" target-dir="res/drawable" />

		<source-file src="src/android/res/drawable-xhdpi/album_finish.9.png" target-dir="res/drawable-xhdpi" />
		<source-file src="src/android/res/drawable-xhdpi/albumset_preselected.png" target-dir="res/drawable-xhdpi" />
		<source-file src="src/android/res/drawable-xhdpi/albumset_selected.png" target-dir="res/drawable-xhdpi" />
		<source-file src="src/android/res/drawable-xhdpi/back.png" target-dir="res/drawable-xhdpi" />
		<source-file src="src/android/res/drawable-xhdpi/btn_posts_camera_l.png" target-dir="res/drawable-xhdpi" />
		<source-file src="src/android/res/drawable-xhdpi/dangkr_no_picture_small.png" target-dir="res/drawable-xhdpi" />
		<source-file src="src/android/res/drawable-xhdpi/icon_back2.png" target-dir="res/drawable-xhdpi" />
		<source-file src="src/android/res/drawable-xhdpi/icon_go.png" target-dir="res/drawable-xhdpi" />
		<source-file src="src/android/res/drawable-xhdpi/post_add_pic.png" target-dir="res/drawable-xhdpi" />
		<source-file src="src/android/res/drawable-xhdpi/post_pager_delete.png" target-dir="res/drawable-xhdpi" />
		<source-file src="src/android/res/drawable-xhdpi/progress_icon.png" target-dir="res/drawable-xhdpi" />

		<source-file src="src/android/res/layout/item_album_pager.xml" target-dir="res/layout" />
		<source-file src="src/android/res/layout/item_albumfoler.xml" target-dir="res/layout" />
		<source-file src="src/android/res/layout/local_album_detail.xml" target-dir="res/layout" />
		<source-file src="src/android/res/layout/local_album.xml" target-dir="res/layout" />
		<source-file src="src/android/res/layout/simple_list_item.xml" target-dir="res/layout" />


		<source-file src="src/android/res/values/standard_color.xml" target-dir="res/values" />
		<source-file src="src/android/res/values/standard_dimens.xml" target-dir="res/values" />
		<source-file src="src/android/res/values/styles.xml" target-dir="res/values" />
		<source-file src="src/android/res/values/themes.xml" target-dir="res/values" />
	</platform>
	<platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ImagePicker">
                <param name="ios-package" value="SOSPicker"/>
            </feature>
        </config-file>
        
        <header-file src="src/ios/SOSPicker.h" />
        <source-file src="src/ios/SOSPicker.m" />
        
        <header-file src="src/ios/MBProgressHUD/MBProgressHUD.h" />
        <source-file src="src/ios/MBProgressHUD/MBProgressHUD.m" />
        <header-file src="src/ios/MBProgressHUD/MBProgressHUD+Add.h" />
        <source-file src="src/ios/MBProgressHUD/MBProgressHUD+Add.m" />
        
        <resource-file src="src/ios/MWPhotoBrowser/MWPhotoBrowser.bundle" />
        <header-file src="src/ios/MWPhotoBrowser/Classes/MWCaptionView.h" />
        <source-file src="src/ios/MWPhotoBrowser/Classes/MWCaptionView.m" />
        <header-file src="src/ios/MWPhotoBrowser/Classes/MWCommon.h" />
        <header-file src="src/ios/MWPhotoBrowser/Classes/MWGridCell.h" />
        <source-file src="src/ios/MWPhotoBrowser/Classes/MWGridCell.m" />
        <header-file src="src/ios/MWPhotoBrowser/Classes/MWGridViewController.h" />
        <source-file src="src/ios/MWPhotoBrowser/Classes/MWGridViewController.m" />
        <header-file src="src/ios/MWPhotoBrowser/Classes/MWPhoto.h" />
        <source-file src="src/ios/MWPhotoBrowser/Classes/MWPhoto.m" />
        <header-file src="src/ios/MWPhotoBrowser/Classes/MWPhotoBrowser.h" />
        <source-file src="src/ios/MWPhotoBrowser/Classes/MWPhotoBrowser.m" />
        <header-file src="src/ios/MWPhotoBrowser/Classes/MWPhotoBrowserPrivate.h" />
        <header-file src="src/ios/MWPhotoBrowser/Classes/MWPhotoProtocol.h" />
        <header-file src="src/ios/MWPhotoBrowser/Classes/MWTapDetectingImageView.h" />
        <source-file src="src/ios/MWPhotoBrowser/Classes/MWTapDetectingImageView.m" />
        <header-file src="src/ios/MWPhotoBrowser/Classes/MWTapDetectingView.h" />
        <source-file src="src/ios/MWPhotoBrowser/Classes/MWTapDetectingView.m" />
        <header-file src="src/ios/MWPhotoBrowser/Classes/MWZoomingScrollView.h" />
        <source-file src="src/ios/MWPhotoBrowser/Classes/MWZoomingScrollView.m" />
        
        <header-file src="src/ios/MWPhotoBrowser/Libraries/DACircularProgress/DACircularProgressView.h" />
        <source-file src="src/ios/MWPhotoBrowser/Libraries/DACircularProgress/DACircularProgressView.m" />
        
        <header-file src="src/ios/MWPhotoBrowser/Libraries/EMSDWebImage/EMSDImageCache.h" />
        <source-file src="src/ios/MWPhotoBrowser/Libraries/EMSDWebImage/EMSDImageCache.m" />
        <header-file src="src/ios/MWPhotoBrowser/Libraries/EMSDWebImage/EMSDWebImageCompat.h" />
        <source-file src="src/ios/MWPhotoBrowser/Libraries/EMSDWebImage/EMSDWebImageCompat.m" />
        <header-file src="src/ios/MWPhotoBrowser/Libraries/EMSDWebImage/EMSDWebImageDecoder.h" />
        <source-file src="src/ios/MWPhotoBrowser/Libraries/EMSDWebImage/EMSDWebImageDecoder.m" />
        <header-file src="src/ios/MWPhotoBrowser/Libraries/EMSDWebImage/EMSDWebImageDownloader.h" />
        <source-file src="src/ios/MWPhotoBrowser/Libraries/EMSDWebImage/EMSDWebImageDownloader.m" />
        <header-file src="src/ios/MWPhotoBrowser/Libraries/EMSDWebImage/EMSDWebImageDownloaderOperation.h" />
        <source-file src="src/ios/MWPhotoBrowser/Libraries/EMSDWebImage/EMSDWebImageDownloaderOperation.m" />
        <header-file src="src/ios/MWPhotoBrowser/Libraries/EMSDWebImage/EMSDWebImageManager.h" />
        <source-file src="src/ios/MWPhotoBrowser/Libraries/EMSDWebImage/EMSDWebImageManager.m" />
        <header-file src="src/ios/MWPhotoBrowser/Libraries/EMSDWebImage/EMSDWebImageOperation.h" />
        <header-file src="src/ios/MWPhotoBrowser/Libraries/EMSDWebImage/EMSDWebImagePrefetcher.h" />
        <source-file src="src/ios/MWPhotoBrowser/Libraries/EMSDWebImage/EMSDWebImagePrefetcher.m" />
        <header-file src="src/ios/MWPhotoBrowser/Libraries/EMSDWebImage/NSData+EMImageContentType.h" />
        <source-file src="src/ios/MWPhotoBrowser/Libraries/EMSDWebImage/NSData+EMImageContentType.m" />
        <header-file src="src/ios/MWPhotoBrowser/Libraries/EMSDWebImage/UIButton+EMWebCache.h" />
        <source-file src="src/ios/MWPhotoBrowser/Libraries/EMSDWebImage/UIButton+EMWebCache.m" />
        <header-file src="src/ios/MWPhotoBrowser/Libraries/EMSDWebImage/UIImage+EMGIF.h" />
        <source-file src="src/ios/MWPhotoBrowser/Libraries/EMSDWebImage/UIImage+EMGIF.m" />
        <header-file src="src/ios/MWPhotoBrowser/Libraries/EMSDWebImage/UIImage+EMMultiFormat.h" />
        <source-file src="src/ios/MWPhotoBrowser/Libraries/EMSDWebImage/UIImage+EMMultiFormat.m" />
        <header-file src="src/ios/MWPhotoBrowser/Libraries/EMSDWebImage/UIImage+EMWebP.h" />
        <source-file src="src/ios/MWPhotoBrowser/Libraries/EMSDWebImage/UIImage+EMWebP.m" />
        <header-file src="src/ios/MWPhotoBrowser/Libraries/EMSDWebImage/UIImageView+EMHighlightedWebCache.h" />
        <source-file src="src/ios/MWPhotoBrowser/Libraries/EMSDWebImage/UIImageView+EMHighlightedWebCache.m" />
        <header-file src="src/ios/MWPhotoBrowser/Libraries/EMSDWebImage/UIView+EMWebCacheOperation.h" />
        <source-file src="src/ios/MWPhotoBrowser/Libraries/EMSDWebImage/UIView+EMWebCacheOperation.m" />
        
        <header-file src="src/ios/MWPhotoBrowser/Libraries/EMSDWebImage/UIImageView+EMWebCache.h" />
        <source-file src="src/ios/MWPhotoBrowser/Libraries/EMSDWebImage/UIImageView+EMWebCache.m" />
        <header-file src="src/ios/MWPhotoBrowser/Libraries/EMSDWebImage/MKAnnotationView+EMWebCache.h" />
        <source-file src="src/ios/MWPhotoBrowser/Libraries/EMSDWebImage/MKAnnotationView+EMWebCache.m" />
        
        
        <header-file src="src/ios/MWPhotoBrowser/Libraries/PSTCollectionView/NSIndexPath+PSTCollectionViewAdditions.h" />
        <source-file src="src/ios/MWPhotoBrowser/Libraries/PSTCollectionView/NSIndexPath+PSTCollectionViewAdditions.m" />
        <header-file src="src/ios/MWPhotoBrowser/Libraries/PSTCollectionView/PSTCollectionView.h" />
        <source-file src="src/ios/MWPhotoBrowser/Libraries/PSTCollectionView/PSTCollectionView.m" />
        <header-file src="src/ios/MWPhotoBrowser/Libraries/PSTCollectionView/PSTCollectionViewCell.h" />
        <source-file src="src/ios/MWPhotoBrowser/Libraries/PSTCollectionView/PSTCollectionViewCell.m" />
        <header-file src="src/ios/MWPhotoBrowser/Libraries/PSTCollectionView/PSTCollectionViewCommon.h" />
        <header-file src="src/ios/MWPhotoBrowser/Libraries/PSTCollectionView/PSTCollectionViewController.h" />
        <source-file src="src/ios/MWPhotoBrowser/Libraries/PSTCollectionView/PSTCollectionViewController.m" />
        <header-file src="src/ios/MWPhotoBrowser/Libraries/PSTCollectionView/PSTCollectionViewData.h" />
        <source-file src="src/ios/MWPhotoBrowser/Libraries/PSTCollectionView/PSTCollectionViewData.m" />
        <header-file src="src/ios/MWPhotoBrowser/Libraries/PSTCollectionView/PSTCollectionViewFlowLayout.h" />
        <source-file src="src/ios/MWPhotoBrowser/Libraries/PSTCollectionView/PSTCollectionViewFlowLayout.m" />
        <header-file src="src/ios/MWPhotoBrowser/Libraries/PSTCollectionView/PSTCollectionViewItemKey.h" />
        <source-file src="src/ios/MWPhotoBrowser/Libraries/PSTCollectionView/PSTCollectionViewItemKey.m" />
        <header-file src="src/ios/MWPhotoBrowser/Libraries/PSTCollectionView/PSTCollectionViewLayout.h" />
        <source-file src="src/ios/MWPhotoBrowser/Libraries/PSTCollectionView/PSTCollectionViewLayout.m" />
        <header-file src="src/ios/MWPhotoBrowser/Libraries/PSTCollectionView/PSTCollectionViewLayout+Internals.h" />
        <header-file src="src/ios/MWPhotoBrowser/Libraries/PSTCollectionView/PSTCollectionViewUpdateItem.h" />
        <source-file src="src/ios/MWPhotoBrowser/Libraries/PSTCollectionView/PSTCollectionViewUpdateItem.m" />
        <header-file src="src/ios/MWPhotoBrowser/Libraries/PSTCollectionView/PSTGridLayoutInfo.h" />
        <source-file src="src/ios/MWPhotoBrowser/Libraries/PSTCollectionView/PSTGridLayoutInfo.m" />
        <header-file src="src/ios/MWPhotoBrowser/Libraries/PSTCollectionView/PSTGridLayoutItem.h" />
        <source-file src="src/ios/MWPhotoBrowser/Libraries/PSTCollectionView/PSTGridLayoutItem.m" />
        <header-file src="src/ios/MWPhotoBrowser/Libraries/PSTCollectionView/PSTGridLayoutRow.h" />
        <source-file src="src/ios/MWPhotoBrowser/Libraries/PSTCollectionView/PSTGridLayoutRow.m" />
        <header-file src="src/ios/MWPhotoBrowser/Libraries/PSTCollectionView/PSTGridLayoutSection.h" />
        <source-file src="src/ios/MWPhotoBrowser/Libraries/PSTCollectionView/PSTGridLayoutSection.m" />
        
        <header-file src="src/ios/ELCImagePicker/ELCAlbumPickerController.h" />
        <source-file src="src/ios/ELCImagePicker/ELCAlbumPickerController.m" />
        
        <header-file src="src/ios/ELCImagePicker/ELCAsset.h" />
        <source-file src="src/ios/ELCImagePicker/ELCAsset.m" />
        
        <header-file src="src/ios/ELCImagePicker/ELCAssetCell.h" />
        <source-file src="src/ios/ELCImagePicker/ELCAssetCell.m" />
        
        <header-file src="src/ios/ELCImagePicker/ELCAssetPickerFilterDelegate.h" />
        <header-file src="src/ios/ELCImagePicker/ELCAssetSelectionDelegate.h" />
        
        <header-file src="src/ios/ELCImagePicker/ELCAssetTablePicker.h" />
        <source-file src="src/ios/ELCImagePicker/ELCAssetTablePicker.m" />
        
        <header-file src="src/ios/ELCImagePicker/ELCImagePickerController.h" />
        <source-file src="src/ios/ELCImagePicker/ELCImagePickerController.m" />
        
        <resource-file src="src/ios/ELCImagePicker/Resources/ELCAlbumPickerController.xib" />
        <resource-file src="src/ios/ELCImagePicker/Resources/ELCAssetPicker.xib" />
        <resource-file src="src/ios/ELCImagePicker/Resources/ELCAssetTablePicker.xib" />
        <resource-file src="src/ios/ELCImagePicker/Resources/Overlay.png" />
        <resource-file src="src/ios/ELCImagePicker/Resources/Overlay@2x.png" />
        
        <framework src="src/ios/MessageUI.framework" custom="true"/>
        <framework src="src/ios/ImageIO.framework" custom="true"/>
        <framework src="src/ios/QuartzCore.framework" custom="true"/>
        <framework src="src/ios/MapKit.framework" custom="true"/>
        
	</platform>
</plugin>